.primary_btn{
    padding: 18px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    font-size: 16px;
    min-width: 220px;
    justify-content: center;
}