@import "tailwindcss";

:root{
    grey: rgb(90,89,89);
    yellow-200 : rgba(255, 234, 174, 1);
    red:rgb(208,28,40);
    purple:rgb(95,0,217);
    white:rgb(95,0,217);
}

body{
    background-color: rgb(50,51,52);
}