.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.top_btn{
    display: flex;
    gap: 32px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}